<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="ClientName" value="Visual Studio" />
    <add key="ClientPassword" value="1breakthings!" />
    <add key="ClientUsername" value="test" />
    <add key="ClusterName" value="tsestmrmq01corp" />
    <add key="ClusterMembers" value="tsestmrmq01corp,tsestmrmq02corp,tsestmrmq03corp" />
    <!--<add key="ClusterName" value="tsestmrmq04gulf" />
    <add key="ClusterMembers" value="tsestmrmq04gulf,tsestmrmq05gulf,tsestmrmq06gulf" />-->
    <add key="MaxQueueDepth" value="1000" />
    <add key="MessageSize" value="4096" />
    <add key="QueueName" value="rabbit_stress_test" />
    <add key="VirtualHost" value="test" />
  </appSettings>
  <connectionStrings>
    <add name="DbConnection" connectionString="Data Source=localhost;Initial Catalog=RabbitStressTest;User ID=rabbit_stress_user;Password=1breakthings!" />
    <!--<add name="DbConnection" connectionString="Data Source=D2UA434033K.eprod.com;Initial Catalog=RabbitStressTest;User ID=rabbit_stress_user;Password=1breakthings!" />-->
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.9.2.0" newVersion="4.9.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="RabbitMQ.Client" publicKeyToken="89e7d7c5feba84ce" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.6.5.0" newVersion="3.6.5.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="MassTransit" publicKeyToken="b8e0e9f2f1e657fa" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.3.2.0" newVersion="5.3.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
